<h4>Tra cứu kết quả thi</h4>
<hr />
<div id="main">
    <div style="min-width:300px" class="border border-dark border-5 rounded">
        <div style="padding:16px">
            <div class="form-group">
                    <label class="control-label">Nhập số báo danh</label>
                    <input placeholder="Nhập số báo danh" id="sbd" class="form-control" />
                    <span  id="inputError" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <input type="button" id="search" value="Tra cứu" class="btn btn-success" />
            </div>
        </div>
    </div>
    <div class="result"></div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(() => {
            $('#search').click((e) => {
                console.log($('#sbd').val());
                if($('#sbd').val() != ""){
                    $.post('/chungnhan/ajaxChungNhanKetQua',{SBD :$('#sbd').val()},(data) => {
                        console.log(data);
                        if(data){
                             window.location.href = '/ChungNhan/ChungNhan/?maphong=' +data.maPhongNavigation.maPhong +"&cccd=" + data.cccd;
                            //$('.result').html('');
                            //var tmp = document.createElement("div");
                            //tmp.className = 'mt-5'
                            //tmp.innerHTML = `
                            //        <h3>Chúc mừng ${data.cccdNavigation.hoNguoiDung + " " +data.cccdNavigation.tenNguoiDung}</h3>
                            //        <dl class="row mt-3">
                            //            <dt class = "col-sm-3">
                            //                Số báo danh
                            //            </dt>
                            //            <dd class = "col-sm-9">
                            //                ${data.sbd}
                            //            </dd>
                            //            <dt class = "col-sm-3">
                            //                Họ và tên
                            //            </dt>
                            //            <dd class = "col-sm-9">
                            //                ${data.cccdNavigation.hoNguoiDung + " " +data.cccdNavigation.tenNguoiDung}
                            //            </dd>
                            //            <dt class = "col-sm-3">
                            //                Điểm nghe
                            //            </dt>
                            //            <dd class = "col-sm-9">
                            //                ${data.diemNghe}
                            //            </dd>
                            //             <dt class = "col-sm-3">
                            //                Điểm nói
                            //            </dt>
                            //            <dd class = "col-sm-9">
                            //                ${data.diemNoi}
                            //            </dd>
                            //             <dt class = "col-sm-3">
                            //                Điểm đọc
                            //            </dt>
                            //            <dd class = "col-sm-9">
                            //                ${data.diemDoc}
                            //            </dd>
                            //             <dt class = "col-sm-3">
                            //                Điểm viết
                            //            </dt>
                            //            <dd class = "col-sm-9">
                            //                ${data.diemViet}
                            //            </dd>
                            //        </dl>
                            //`
                            //$('.result').append(tmp);
                        }else{
                            alert("Chưa có dữ liệu người dùng");
                        }
                    });
                }else{
                    alert("Vui lòng nhập đầy đủ thông tin");
                }
            });
        });
    </script>
}
