<h4>Tra cứu kết quả thi</h4>
<hr />
<div id="main">
    <div style="min-width:300px" class="border border-dark border-5 rounded">
        <div style="padding:16px">
            <div class="form-group">
                    <label class="control-label">Nhập số báo danh</label>
                    <input placeholder="Nhập số báo danh" id="sbd" class="form-control" />
                    <span  id="inputError" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <input type="button" id="search" value="Tra cứu" class="btn btn-success" />
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(() => {
            $('#search').click((e) => {
                console.log($('#sbd').val());
                if($('#sbd').val() != ""){
                    $.post('/chungnhan/ajaxChungNhanKetQua',{SBD :$('#sbd').val()},(data) => {
                        console.log(data);
                        if(data.length > 0){
                            
                        }else{
                            alert("Chưa có dữ liệu người dùng");
                        }
                    });
                }else{
                    alert("Vui lòng nhập đầy đủ thông tin");
                }
            });
        });
    </script>
}
