@{
    ViewData["Title"] = "Thống kê";
}


<h4>Thống kê</h4>
<hr />    
<div style="min-width:300px" class="border border-dark border-5 rounded">
        <div style="padding:16px">
            <div class="form-group">
                    <label class="control-label">Ngày bắt đầu khoá thi</label>
                     <input id="ngaybatdau" type="datetime-local" class="form-control" />
            </div>
            <div class="form-group">
                    <label class="control-label">Ngày kết thúc khoá thi</label>
                      <input id="ngayketthuc" type="datetime-local" class="form-control" />
            </div>
            <div class="form-group">
                    <input type="button" id="search" value="Thống kê" class="btn btn-success" />
            </div>
        </div>
</div>
<div class="row mt-4">
    <div class="col-sm-6">
        <div class ="card">
            <div class="card-header">
               Thống kê số lượng phòng thi
            </div>
            <div class="card-body">
                <canvas class="my-4 h-25" id="barpt"></canvas>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class ="card">
            <div class="card-header">
               Thống kê số lượng thí sinh
            </div>
            <div class="card-body">
                <canvas class="my-4 h-25" id="barts"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-sm-6">
        <div class ="card">
            <div class="card-header">
               Thống kê số lượng phòng thi
            </div>
            <div class="card-body">
                <canvas class="my-4 h-25" id="piept"></canvas>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class ="card">
            <div class="card-header">
              Thống kê số lượng thí sinh
            </div>
            <div class="card-body">
                <canvas class="my-4 h-25" id="piets"></canvas>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.2/chart.min.js"  ></script>
    <script>
        $(document).ready(() => {
            $('#search').click((e) => {
                    $.post('/thongke/ajaxThongKe',{ngaybatdau :$('#ngaybatdau').val(),ngayketthuc :$('#ngayketthuc').val()},(data) => {
                        if(data != null){
                            console.log(data);
                            getThongKe(data);
                        }else{
                            alert("Chưa có dữ liệu vui lòng kiểm tra lại")
                        }
                    });
            });
        });

        var mybarhartts = null;
        var mypieChartts = null;
        var mybarhartpt = null;
        var mypieChartpt = null;

        function getRandomColor() {
            var letters = '0123456789ABCDEF'.split('');
            var color = '#';
            for (var i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }

        function getRandomColorEachEmployee(count) {
            var data =[];
            for (var i = 0; i < count; i++) {
                data.push(getRandomColor());
            }
            return data;
        }

        function getThongKe(data){
            var lablespt = ['Số lượng khoá thi', 'Số lượng phòng thi A2','Số lượng phòng thi B1'];
            var dataspt =[];
            var lablests = ['Số lượng khoá thi', 'Số lượng thí sinh A2','Số lượng thí sinh B1'];
            var datasts =[];

                dataspt.push(data.slKhoaThi);
                dataspt.push(data.slPhongThiA2);
                dataspt.push(data.slPhongThiB1);
                datasts.push(data.slKhoaThi);
                datasts.push(data.slThiSinhA2);
                datasts.push(data.slThiSinhB1);

            if(mybarhartpt != null){
                mybarhartpt.destroy();
            }
            var barchartpt = document.getElementById('barpt').getContext('2d');
            var barchartdatapt = {
                    labels: lablespt,
                    datasets: [{
                        label: '',
                        data: dataspt,
                        backgroundColor: getRandomColorEachEmployee(lablespt.length),

                    }]
                }
            mybarhartpt = new Chart(barchartpt,{
                type : 'bar',
                data:barchartdatapt,
            })

            
            if(mybarhartts != null){
                mybarhartts.destroy();
            }
            var barchartts = document.getElementById('barts').getContext('2d');
            var barchartdatats = {
                    labels: lablests,
                    datasets: [{
                        label: '',
                        data: datasts,
                        backgroundColor: getRandomColorEachEmployee(lablests.length),

                    }]
                }
            mybarhartts = new Chart(barchartts,{
                type : 'bar',
                data:barchartdatats,
            })
           

            if(mypieChartpt != null){
                mypieChartpt.destroy();
            }
            var piechartpt = document.getElementById('piept').getContext('2d');
            mypieChartpt = new Chart(piechartpt,{
                type : 'pie',
                data:{
                    labels: lablespt,
                    datasets: [{
                        label: 'Bar chart',
                        data: dataspt,
                         backgroundColor: getRandomColorEachEmployee(lablespt.length),

                    }]
                }
            })

            if(mypieChartts != null){
                mypieChartts.destroy();
            }
            var piechartts = document.getElementById('piets').getContext('2d');
            mypieChartts = new Chart(piechartts,{
                type : 'pie',
                data:{
                    labels: lablests,
                    datasets: [{
                        label: 'Bar chart',
                        data: datasts,
                         backgroundColor: getRandomColorEachEmployee(lablests.length),

                    }]
                }
            })
        }
        
    </script>
}
